# This file allows installation of test requirements.
#
# Use it like this:
#   pip install -r test-requirements.txt

git://github.com/nion-software/nionutils.git#egg=nionutils
git://github.com/nion-software/nionui.git#egg=nionui
git://github.com/nion-software/niondata.git#egg=niondata
git://github.com/nion-software/nionswift.git#egg=nionswift

imageio
scipy
numpy
h5py
pytz
tzlocal
pillow
